<div class="skinny-wrapper">
    <label>Name</label>
    <div>
        {{input type="text" value=blog.name  placeholder="The name of the Blog"}}
    </div>

        {{#power-select
                selected=type
                placeholder="Please, select category"
                options=blogTypeList
                onchange=(action "chooseBlogType")
        as |type|
        }}
            {{type.name}}
        {{/power-select}}

    <label>Description</label>
    <div>
        {{textarea value=blog.description cols="80" rows="6" class="form-control" placeholder="..."}}
    </div>
    <div>
        <input type="submit" {{action 'buttonClicked' blog}} placeholder={{buttonLabel}}>
    </div>
</div>