<div class="ui middle aligned center aligned grid">
    <div class="column login-column">
        <h2 id='login-title'class="ui teal image header">
            <img src="assets/images/logo.png" class="image">
            <div class="content">
                Log-in to your account
            </div>
        </h2>
        <form class="ui large form">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        {{input type="text" value=email  placeholder="E-mail address"}}
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        {{input type="password" value=password placeholder="Password"}}
                    </div>
                </div>
                <input type="submit" {{action 'login'}}  class="ui fluid large teal submit button" placeholder={{buttonLabel}}>
            </div>
            <div class="ui error message"></div>
        </form>
        <div class="ui message">
            New to us? {{link-to "Sign Up" "users.new"}}
        </div>
    </div>
</div>
