<div class="skinny-wrapper">
    <h3>Login:</h3>
    <div>
        <label>Email</label>
        {{input type="text" value=email class="form-control" placeholder="email:"}}
    </div>
    <div>
        <label>Password</label>
        {{input type="password" value=password class="form-control" placeholder="password:"}}
    </div>
    <div>
        <input type="submit" {{action 'buttonClicked'}}  placeholder={{buttonLabel}}>
        <span id="login-span">or</span>
        {{link-to "register" "users.new" class="button"}}
    </div>
</div>
