<div>
  <label for="file" class="ui secondary button">
    <i class="file icon"></i>
    Add Cover</label>
  <input type="file" id="file" onchange={{action "loadImage" value=uploadedFile}}>
</div>
<br>
<hr>
<div class="container">
  <div class="cropper-preview">
  </div>
  <div class="cropper-container">
    <img id="image" src="">
  </div>
</div>
<hr>

<form class="ui form">
  <div class="field">
    <label>Name</label>
    {{input type="text" value=blog.name  placeholder="The name of the Blog"}}
  </div>
  {{#power-select
    selected=blog.blogType
    placeholder="Please, select category"
    options=blogTypeList
    onchange=(action "chooseBlogType")
  as |type|
  }}
    {{type.name}}
  {{/power-select}}
  <div class="field">
    <label>Description</label>
    {{textarea value=blog.description cols="80" rows="6" class="form-control" placeholder="..."}}
  </div>
  <div>
    <input type="submit" class="ui button" {{action 'save' blog}} placeholder={{buttonLabel}}>
  </div>
</form>
