<table>
    <tr>
        <th>email</th>
        <th>blogs</th>
        <th>posts</th>
        <th>comments</th>
        <th>registration</th>
        <th>login</th>
    </tr>

        <tr>
            <td>{{model.email}}</td>
            <td>{{link-to model.blogs.length 'blogs'  (query-params user= model.id)}}</td>
            <td>{{model.posts.length}}</td>
            <td>{{model.comments.length}}</td>
            <td>{{model.registration}}</td>
            <td>{{model.lastLogin}}</td>
        </tr>

</table>