<div class="main-menu">
  <div class="ui left floated main menu">
    {{#link-to 'blogs.new' class="bug popup icon item"}}
      <i class="plus icon"></i>
    {{/link-to}}
    {{#has-permission permissionCode='canDeleteAllBlogs'}}
      <a class="bug popup icon item" href="#" {{action 'toggleMultipleDeletion'}}>
        <i class="remove icon"></i>
      </a>
      {{#if blogMenuService.deleteMultiple}}
        <a class="bug popup icon item" href="#" {{action 'deleteBlogs'}}>
          <i>delete: {{blogService.multipleDeletionBlogs.length}} <i class="trash icon"></i></i>
        </a>
      {{/if}}
    {{/has-permission}}
    {{#if blogMenuService.blockView}}
      <a class="bug popup icon item" href="#" {{action 'setView'}}>
        <i class="list layout icon"></i>
      </a>
    {{else}}
      <a class="bug popup icon item" href="#" {{action 'setView'}}>
        <i class="block layout icon"></i>
      </a>
    {{/if}}
  </div>
  {{filters/main-filter}}
</div>
