{{link-to 'new Blog' 'blogs.new' id="new-blog-button" class="ui secondary basic button"}}
{{#has-permission permissionCode='canDeleteAllBlogs'}}
    <button {{action 'deleteMultiple' blog}} id="delete-multiple" class="ui negative basic button ">
        delete Blogs
    </button>
{{/has-permission}}

<div class="ui three column grid {{if (hasPermission 'canDeleteAllBlogs') 'can-delete-all-blogs'}}">
    {{#each filteredBlogs as |blog|}}
        <div class="column">

            <div class="ui card {{if blog.isClicked 'blog-clicked'}}" {{action 'selectBlog' blog}}>
                <div class="image">
                    <img src="{{blog.cover}}">
                </div>
                <div class="content blog-content">
                    <a class="header">{{link-to blog.name 'blogs.show' blog.id}}</a>
                    <div class="meta">
                        <span class="date">by: {{blog.user.email}}</span>
                    </div>
                    <div class="description">
                        {{blog.description}}
                    </div>
                </div>
                <div class="extra content">
                    <span class="right floated">
                        {{#if (hasPermission 'canDeleteAllBlogs' 'canEditAllBLogs')}}
                            {{#has-permission  permissionCode='canEditAllBlogs'}}
                                {{#link-to 'blogs.edit' blog.id}}
                                    <i class="edit icon"></i>
                                {{/link-to}}
                            {{/has-permission}}
                            {{#has-permission  permissionCode='canDeleteAllBlogs'}}
                                <span {{action 'deleteBlog' blog }}>
                                    <i class="ban icon"></i>
                                </span>
                            {{/has-permission}}
                        {{else}}
                            {{#if (userIsAuthor blog.id)}}
                                {{#link-to 'blogs.edit' blog.id}}
                                    <i class="edit icon"></i>
                                {{/link-to}}
                                <span {{action 'deleteBlog' blog }}>
                                    <i class="ban icon"></i>
                                </span>
                            {{/if}}
                        {{/if}}
                    </span>
                    {{#link-to 'posts' blog.id}}
                        <i class="file icon"></i>
                        {{blog.posts.length}}
                    {{/link-to}}
                </div>
            </div>

        </div>
    {{/each}}
</div>