<div class="col-1 about homepage-content">
    <div id="add-blog">
        {{link-to 'Add Type' 'blog-type.new' class='button'}}
        {{link-to 'Add Blog' 'blogs.new' class='button'}}
    </div>
</div>
<div class="col-2 homepage-content">
    <h2>Blog List:</h2>
    <hr>
    {{#each model as |blog|}}
        <div class="blog-block">
            <h3>{{link-to blog.name 'posts' blog}}</h3>
            <p class="date">Fri 10 2016</p>
            <p class="date">
                {{#if blog.isAuthor}}
                    {{link-to 'edit' 'blogs.edit' blog.id}}
                    <button {{action 'deleteBlog' blog}}>
                        delete
                    </button>
                {{/if}}
            </p>
        </div>
    {{/each}}
</div>
<div class="col-3 homepage-content">
    <h2>Another List:</h2>
    <hr>
</div>