<div class="main-filter">
  <div class='filter search-filter'>
    {{filters/search-filter register='registerFilter' runFilter='runFilters'}}
  </div>
  <div class="filter date-filter">
    <div class="ui calendar">
      <div class="ui input left icon">
        <i class="calendar icon"></i>
        {{filters/start-date-filter register='registerFilter' runFilter='runFilters'}}
      </div>
    </div>
  </div>
  <div class="filter end-date-filter">
    <div class="ui calendar">
      <div class="ui input left icon">
        <i class="calendar icon"></i>
        {{filters/end-date-filter register='registerFilter' runFilter='runFilters'}}
      </div>
    </div>
  </div>
  <div class='filter category-filter'>
    {{filters/category-filter register='registerFilter' runFilter='runFilters'}}
  </div>
  <div class="filter user-filter">
    {{filters/user-filter register='registerFilter' runFilter='runFilters'}}
  </div>
</div>
