<div class="main-menu">
  <div class="ui left floated main menu">
    {{#link-to 'comments.new' class="bug popup icon item"}}
      <i class="plus icon"></i>
    {{/link-to}}
  </div>
</div>

  <div class="ui comments">
    <h3 class="ui dividing header">Comments</h3>
    {{#each model.comments as |comment|}}
      <div class="comment">
        <a class="avatar">
          <img src="/assets/images/sanctum_sanctorum.jpg">
        </a>
        <div class="content">
          <a class="author">{{comment.user.email}}</a>
          <div class="metadata">
            <span class="date">{{comment.dateOfCreation}}</span>
          </div>
          <div class="text">
            {{comment.body}}
          </div>
          <div class="actions">
            {{#if comment.isAuthor}}
              {{link-to 'edit' 'comments.edit' comment}}
              <button {{action 'delete' comment}}>
                delete
              </button>
            {{/if}}
          </div>
        </div>
      </div>
    {{/each}}

    <!--todo: use comment-form component-->
  </div>
  {{!comment-form item=model.id buttonLabel='leave a comment' action='save'}}