{{#if model.isAuthor}}
  <div class="main-menu">
    <div class="ui left floated main menu">
      {{#link-to 'posts.new' class="bug popup icon item"}}
        <i class="plus icon"></i>
      {{/link-to}}
    </div>
  </div>
{{/if}}

<div class="ui items">
  {{#each model.posts as |post|}}
    <div class="item">
      <div class="ui small image">
        <img src="/assets/images/sanctum_sanctorum.jpg">
      </div>
      <div class="content post-content">
        <div class="header">{{link-to post.title 'comments' post}}</div>
        <div class="meta">
          <span class="price">comments: {{post.comments.length}}</span>
          {{#if model.isAuthor}}
            {{link-to 'edit' 'posts.edit' post}}
            <button {{action 'deletePost' post}}>
              delete
            </button>
          {{/if}}
        </div>
        <div class="description">
          <p>{{post.body}}</p>
        </div>
      </div>
    </div>
  {{/each}}
</div>

